@import "app-variables.scss";

body {
  #container {

    &.home {
      > header {
        min-height: 80vh;
      }
    }

    &.detail {

    }

    > div.control-menu + header {
      margin-top: 65px;

      nav {
        top: 65px;
      }

      @media (max-width: 767px) {
        margin-top: 49px;

        nav {
          top: 49px;
        }
      }
    }

    > header {
      display: flex;
      flex-direction: column;
      background-color: $app-background-dark;
      color: $app-white;


      nav {
        position: fixed;
        top: 0;
        left:0;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        background-color: rgba(0,0,0,0.8);
        z-index: 99;

        div.menu {
          flex-grow: 1;
          align-items: center;
          display: flex;
          flex-direction: row;
          position: relative;

          button {
            background: none;
            border: 0;
            outline: none;
            font-size: 20px;
            align-items: center;
            display: flex;
            flex-direction: row;
            box-shadow: none;
            color: $app-white;

            i {
              font-size: 32px;
              margin-right: 10px;
              display: inline;
              float: left;
            }

            span {
              display: inline;
              float: left;
              margin-top: 2px;
            }

            &:hover, &:focus {
              color: $app-blue;
            }
          }
        }

        div.profile {
          align-items: center;
          display: flex;
          flex-direction: row;
          position: relative;

          i {
            font-size: 32px;
            margin-left: 10px;
          }

          label {
            font-weight: normal;
            font-size: 16px;
            margin: 0;
          }

          a {
            color: $app-white;
            font-size: 20px;
            text-decoration: none;
            font-family: Roboto-Regular;

            &:hover, &:focus {
              color: $app-blue;
              text-decoration: none;
            }
          }
        }
      }

      div.menu-container {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background: $app-background-dark;
        z-index: 999;
        padding: 10px;
        flex-direction: column;
        opacity: 0;
        transition: opacity 0.25s ease-out;
        animation: openMenuAnimation 0.25s ease-out;

        &.open {
          display: flex;
          opacity: 1;
        }

        button {
          background: none;
          border: 0;
          outline: none;
          font-size: 20px;
          align-items: center;
          display: flex;
          flex-direction: row;
          box-shadow: none;
          color: $app-white;

          i {
            font-size: 32px;
            margin-right: 10px;
          }

          &:hover, &:focus {
            color: $app-blue;
          }
        }

        div.logo {
          position: absolute;
          top: 0;
          left: 0;
          text-align: center;
          width: 100%;
          padding: 20px;
          z-index: -1;

          img {
            width: 200px;
            max-width: 100%;
          }
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 150px 0 0 0;
          flex-grow: 1;

          li {
            position: relative;
            margin: 20px 0;
            a {
              color: $app-black;
              background: $app-white;
              padding: 10px;
              border-radius: 10px;
              position: relative;
              display: block;
              text-align: center;
              width: 50%;
              margin-left: 25%;
              font-size: 20px;

              &:hover, &:focus {
                background: $app-blue;
                color: $app-white;
                text-decoration: none;

              }
            }
          }
        }

        div.social {
          text-align: right;
          a {
            font-size: 24px;
            color: $app-white;
            margin: 0 5px;

            &:hover, &:focus {
              color: $app-blue;
              text-decoration: none;

            }
          }
        }

      }


      div.banner {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 77px;
        flex-grow: 1;


        img {
          height: 300px;
        }

        h1 {
          text-shadow: 0px 0px 5px $app-black;
          text-align: center;
          background: rgba(0, 0, 0, 0.5);
          padding: 10px;
          margin-bottom: 0;

          i {
            font-size: 20px;
            vertical-align: top;
          }
        }
      }
    }
  }
}

@keyframes openMenuAnimation {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
