@import "app-variables.scss";

body {
  #container {
    > footer {
      background-color: $app-background-dark;
      padding: 20px 10px 10px 10px;
      color: $app-white;


      img {
        width: 100%;
        max-width: 200px;
      }

      h3 {
        margin-bottom: 5px;
        color: $app-gray;
      }

      p {
        line-height: 1.5;
        color: $app-gray;
      }

      a {
        color: $app-white;
        font-size: 22px;
        margin: 0 5px;

        &:hover, &:focus {
          color: $app-blue;
          text-decoration: none;
        }
      }

      div.copy {
        font-size: 12px;
        margin-top: 10px;
        color: $app-gray;
      }

      div.right {
        @media (min-width: 992px) {
          text-align: right;
        }
      }
    }
  }
}
