@import "app-variables.scss";

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: Roboto-Light;
  color: $app-black;
  background-color: $app-background;
  display: flex;
  flex-direction: column;

  #container {
    //width: 100%;
    //height: 100%;

    display: flex;
    flex-direction: column;
  }

  h1, h2, h3, h4 {
    font-family: Roboto-Thin;
    padding: 0;
    margin: 0 0 20px 0;
  }

  h1 {
   font-size: 38px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }

  a {
    color: $app-blue;

    &:hover, &:focus {
      color: $app-gray;
      text-decoration: none;
    }
  }

  button {
    border: 0;
    background: $app-white;
    color: $app-blue;
    font-size: 18px;
    font-family: Roboto-Regular;
    font-weight: normal;
    text-shadow: none;
    outline: none;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    &:hover, &:focus {
      background: $app-blue;
      color: $app-white;
    }

    &.link {
      background-color: transparent;
      box-shadow: none;

      &:hover, &:focus {
        background: transparent;
        color: $app-gray;
        text-decoration: none;
      }
    }
  }

  .taglib-social-bookmarks {
    display: none;
  }

  .portlet-layout {
    margin: 0;
  }

  .portlet-column-only {
    padding: 0;
  }
}
