
$app-background: #ffffff;
$app-background-dark: #2B2B2B;
$app-background-light: #f1f1f1;

$app-white: #ffffff;
$app-black: #000000;

$app-gray: #999999;
$app-blue: #4285f4;
$app-green: #34a853;
$app-yellow: #fbbc05;
$app-red: #ea4335;
