@import "app-variables.scss";

body {
  #container {
    > #content {
      background-color: $app-background;
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
      overflow: visible;
      width: 100%;
      max-width: 100%;


      section.promotions {
        background-color: $app-background-light;
        padding: 20px 0;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          flex-flow: row wrap;

          li {
            width: 25%;
            padding: 10px;

            a {
              &:hover, &:focus {
                text-decoration: none;
              }
            }

            article {
              background: $app-white;
              border-radius: 10px;
              overflow: hidden;
              box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

              div.image {
                min-height: 150px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                position: relative;

                div.discount {
                  position: absolute;
                  right: 0;
                  top: 0;
                  padding: 10px;
                  background-color: $app-red;
                  color: $app-white;
                  border-radius: 0 0 0 30px;
                  font-size: 20px;
                  font-family: Roboto-Bold;
                }
              }

              div.text {
                min-height: 50px;
                padding: 10px;


                h3 {
                  color: $app-black;
                  margin-bottom: 10px;

                  i {
                    font-size: 12px;
                    vertical-align: top;
                    color: $app-gray;
                  }
                }
              }
            }
          }
        }
      }

      section.information {
        padding: 20px 0;
        text-align: center;

        div.banner {
          height: 600px;
          position: relative;
          width: 100%;
          top: 0;
          left: 0;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;

          margin-top: -50px;
          margin-bottom: 50px;
        }

        a.button {
          font-size: 20px;
        }
      }

      section.popular {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        div.cover {
          background-color: rgba(255, 255, 255, 0.75);
          padding: 20px 0;

          ul.list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-flow: column wrap;

            > li {
              width: 100%;
              padding: 10px;

              article {
                background: $app-white;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
                display: flex;
                flex-direction: row;

                div.image {
                  min-height: 100%;
                  min-width: 50%;
                  background-size: cover;
                  background-position: center center;
                  background-repeat: no-repeat;
                }

                div.text {
                  min-height: 150px;
                  width: 100%;
                  padding: 10px;
                  position: relative;


                  h3 {
                    margin-bottom: 10px;

                    i {
                      font-size: 12px;
                      vertical-align: top;
                      color: $app-gray;
                    }
                  }

                  ul {
                    margin: 0;
                    padding: 0 0 0 16px;
                  }

                  a {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    margin: 10px;
                    font-size: 18px;
                    font-family: Roboto-Regular;
                  }
                }
              }
            }
          }

          button {
            margin-top: 10px;
          }
        }

      }

      section.others {
        padding: 20px 0;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          flex-flow: row wrap;

          li {
            width: 33.33%;
            padding: 10px;

            a {
              &:hover, &:focus {
                text-decoration: none;
              }
            }

            article {
              background: $app-white;
              border-radius: 10px;
              overflow: hidden;
              box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

              div.image {
                min-height: 150px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                position: relative;

                div.discount {
                  position: absolute;
                  right: 0;
                  top: 0;
                  padding: 10px;
                  background-color: $app-red;
                  color: $app-white;
                  border-radius: 0 0 0 30px;
                  font-size: 20px;
                  font-family: Roboto-Bold;
                }
              }

              div.text {
                min-height: 50px;
                padding: 10px;
                color: $app-black;


                h3 {
                  margin-bottom: 10px;

                  i {
                    font-size: 12px;
                    vertical-align: top;
                    color: $app-gray;
                  }
                }
              }
            }
          }
        }

        button {
          margin-top: 10px;
        }
      }

      section.detail {
        //margin-top: -100px;

        div.banner {
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;

          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-top: 77px;
          flex-grow: 1;
          height: 80vh;
          position: relative;

          h1 {
            text-shadow: 0px 0px 5px $app-black;
            text-align: center;
            color: $app-white;
            z-index: 2;
            background: rgba(0,0,0,0.5);
            padding: 10px;
            margin-bottom: 0;

            i {
              font-size: 20px;
              vertical-align: top;
            }
          }

          h3 {
            text-shadow: 0px 0px 5px $app-black;
            text-align: center;
            color: $app-white;
            z-index: 2;
            background: rgba(0,0,0,0.5);
            padding: 10px;
            font-family: Roboto-bold;
          }

          div.carousel {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;

            ol.carousel-indicators {
              bottom: 100px;
            }

            div.carousel-inner {
              width: 100%;
              height: 100%;

              div.item {
                width: 100%;
                height: 100%;

                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
              }
            }
          }
        }

        div.container {
          padding: 20px;
          background: $app-white;
          margin-top: -100px;
          position: relative;
          z-index: 10;


          div.short {
            font-family: Roboto-Bold;
            margin-bottom: 20px;
          }

          div.long {

          }

          h3 {
            margin: 30px 0 10px 0;
          }

          a.button {
            margin: 0 0 14px 0;
            font-size: 20px;
            display: inline-block;

            &.filled {
              background-color: #4285f4;
              color: #ffffff;
              border: solid 1px #4285f4;
              border-radius: 5px;
              text-align: center;
              padding: 2px 10px;

              &:hover, &:focus {
                text-decoration: none;
                background-color: #ffffff;
                color: #4285f4;
              }
            }
          }

          div.social {
            display: inline-block;
            font-size: 20px;
            margin-right: 10px;

            a {
              margin: 0 2px;
            }
          }
        }

        ul {
          margin: 0;
          padding-left: 16px;

          li {
            list-style-type: circle;
          }
        }

      }

      section.portlet {
        div.portlet-content {
          border: none;
          margin: 0;
          padding: 0;

          div.portlet-body {
            div.h2 {
              display: none;
            }
          }
        }

        &#portlet_com_liferay_login_web_portlet_LoginPortlet {
          div.portlet-content {
            padding: 20px
          }
        }
      }

      div.image {
        div.icon {
          position: relative;
          left: 5px;
          top: 5px;
          background-size: contain;
          background-repeat: no-repeat;
          width: 25px;
          height: 25px;
        }
      }

      li.sun div.icon {
        background-image: url('/o/travel-agency-theme/images/sun.png');
      }

      li.winter div.icon {
        background-image: url('/o/travel-agency-theme/images/winter.png');
      }

      li.adventure div.icon {
        background-image: url('/o/travel-agency-theme/images/adventure.png');
      }

      li.cruise div.icon {
        background-image: url('/o/travel-agency-theme/images/cruise.png');
      }

      li.city div.icon {
        background-image: url('/o/travel-agency-theme/images/city.png');
      }

    }
  }
}
